*.sh text eol=lf
*.conf text eol=lf
*.ini text eol=lf
*.rasi text eol=lf
*.toml text eol=lf
*.qml text eol=lf
*.desktop text eol=lf
*.patch text eol=lf
config text eol=lf
lock text eol=lf
network-* text eol=lf
bluetooth-status text eol=lf
power-menu text eol=lf